@config '../../tailwind.config.ts';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';
@import './tokens.css';
@import './base.css';

@font-face {
  font-family: 'Stardew Bold';
  src: url('/fonts/svbold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Stardew Thin';
  src: url('/fonts/svthin.woff2') format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 138, 251);
  background-image: url('/images/stardew-bg.png');
  background-attachment: fixed;
  background-size: cover;
  image-rendering: pixelated;
  fill: #44403c;
}

.grad-background {
  background: #efab62;
  background: linear-gradient(
    0deg,
    rgba(239, 171, 98, 1) 0%,
    rgba(250, 202, 133, 1) 50%,
    rgba(239, 171, 98, 1) 100%
  );
}

.border-menu {
  border-width: 10px 8px 8px 8px;
  border-image: url('/images/menu-border.png');
  border-image-slice: 5 4 4 4;
  border-radius: 10px;
  border-color: rgb(250 147 5 / var(--tw-border-opacity));
}

.border-bundle {
  border-width: 4px 4px 3px 3px;
  border-color: #000;
}

.border-item {
  border-image: url('/images/menu-border.png');
  border-width: 5px 5px 4px 4px;
  border-image-slice: 5 5 4 4 fill;
  border-color: rgb(145 28 9);
  background-color: rgb(244, 183, 68);
}

.slot {
  background: url('/images/icons/bundle-slot.png') center / contain no-repeat;
}
